
// Body
$body-bg: #f1f1f1;

// Typography
// color: #474747;

// $font-family-sans-serif: "Sentinel A", "Sentinel B";
$link-color: #f4645f;
$font-family-sans-serif: "Whitney SSm A", "Whitney SSm B";
$font-size-base: 0.9rem;
$line-height-base: 1.6;
