
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: "Whitney SSm A", "Whitney SSm B";
}
h1,h2,h3,h4,h5,h6 {
  color: #474747;
  font-family: "Sentinel SSm A", "Sentinel SSm B", Georgia, serif;
  font-weight: 700;
}
h2 a {
  color: #474747;
  &:hover {
    color: #f4645f;
  }
}

.navbar-laravel {
  background-color: #fafafa;
  border-bottom: 1px solid #e5e7e7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  svg {
    fill: rgba(0, 0, 0, 0.5);
  }
}

.nav-link.button {
  color: #f4645f;
}

.card {
  border: 0 solid hsla(0,0%,100%,.25);
  box-shadow: 0 1px 5px #dcdcdc;
  transition: opacity .2s ease-in-out;
  margin-bottom: 40px;
  img {
    width: 100%;
  }
  .image {
    position: relative;
  }
  .date {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 15px;
    font-size: 12px;
    text-transform: uppercase;
    svg {
      fill: #fff;
      width: 14px;
      display: inline-block;
      vertical-align: text-top;
    }
  }
}

.footer {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
  svg {
    fill: rgba(0, 0, 0, 0.5);
  }
}
.icon {
  width: 15px;
  fill: #212529;
  display: inline-block;
  vertical-align: text-bottom;
}

@media (min-width: 768px) {
  h2 {
    margin-bottom: 10px;
  }
  .footer {
    font-size: 14px;
    margin-top: 20px;
  }
  .icon {
    width: 20px;
    vertical-align: top;
  }
}

date {
  color: #f4645f;
  text-transform: uppercase;
  font-size: 12px;
}

footer {
  color: #a1a1a1;
  img {
    max-height: 175px;
    margin-bottom: 10px;
  }
  a {
    color: #a1a1a1;
  }
  a:hover {
    color: #3b3b3b;
  }
}
